<nav class="purple lighten-1">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo center">Chat App</a>
    <a
      href="#"
      data-target="mobile-demo"
      class="sidenav-trigger show-on-large"
    ><i class="fas fa-bars"></i></a>
    <ul class="sidenav" id="mobile-demo">
      <li><a href="/friends/sent">Sent Req</a></li>
      <li><a href="/friends/received">Received Req</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </div>
</nav>