<div class="container login-container">
  <div class="card">
    <div class="card-content">
      <h3>Add Friend</h3>
      <div class="divider"></div>
      <div class="section">
        {{!-- {{#if status}}
            <p>{{status}} BAD REQUEST</p>
        {{/if}} --}}
        <form action="" method="POST" id="add-friend">
          <input
            type="text"
            name="friend"
            placeholder="Username/email"
            id="friend-input"
            required
          />
          <div class="section">
            <input type="submit" value="Add" class="btn green darken-1" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>