<h3>Login</h3>
<div class="divider"></div>
<div class="section">
  {{#if messages.error}}
    <p>{{messages.error}}</p>
  {{/if}}

  <form action="/login" method="POST">
    <input type="text" placeholder="Username" required name="username" />
    <input type="password" required placeholder="password" name="password" />
    <div class="section">
      <input type="submit" value="Login" class="btn red darken-1" />
    </div>
  </form>
</div>